//Style-Sheet für fancytree2.html
.highlight {
	/*background-color: #f0e23c;*/
	font-weight: bold;
	border-color: #1d9b6c;
	border-width: 2px;
	border-style: solid;
}
	        
#dataList {
	border: 6px solid #c0c0c0;
	height: 250px;
	width: 50%;
	overflow-x: auto;
	white-space: inherit;
	float: right;
}
	        
.showDivs {
	width: 40%;
	float: center;
}

#tree_container{
    border: 6px solid #c0c0c0;
    height: 250px;
    width: 50%;
    overflow-x: auto;
    white-space: inherit;
    float: left;
}

#content{
   height: 250px;
   width: 100%;
   border: 1px solid transparent;
}
a{
	color: white;
}
.fancytree-title{

	color: white !important;
}

#headlineHistory{
	align-self: center;
	width: 250%;
}

.highlight{
	font-weight: bold;
	border-color: #1d9b6c;
	border-width: 2px;
	border-style: solid;
	
}