
.bubbleRoom{
    height: 100%;
    width: 200px;
    border: 6px solid #c0c0c0; 
    float: left;
}

#content{
   height: 500px;
   border: 1px solid #ff8040;
}

.bubbleContainer{
    height: 400px;
    float: left;
}

#linkliste{
    width: 200px;
    border: 1px solid #ff0080;
    float: left;
    overflow-y: auto;
}

.linkinLinklist{
   margin-right: 10px; 
   color: white;
}

#bubbleContainer{
    border: 1px solid #00ff40;
    width: 1000px;
    overflow-x: auto;
    white-space: nowrap;
    float: left;
}

#innerBubbleContainer{
    height: 329px;
   /* width: 2000px; */
    overflow: visible;
    float: left;
}

/*#kobora{
	background-color: transparent; 
  	color: black;
}
*/

#bubbleContainer{
    
}

.coloredBubble{
    float: left;
    border-radius: 120px;
	text-align:center;
    margin-left: 30%;
    /* margin-top: 30%; */
}

.bubbleLink{
	position: relative;
	top: 40%;
	color: white !important;
	margin-left: -30%;
}

