
.bubbleRoom{
    height: 350px;
    width: 200px;
    border: 1px solid transparent; 
    float: left;
}

#content{
   height: 400px;
   width: 100%;
   border: 1px solid transparent;
}

.bubbleContainer{
    height: 400px;
    float: left;
}

#bubbleContainer{
    border: 6px solid #c0c0c0;
    height: 400px;
    width: 100%;
    overflow-x: auto;
    white-space: inherit;
    float: left;
}

#innerBubbleContainer{
    height: auto;
    width: auto;
    overflow: visible;
    float: left;
}

.coloredBubble{
    float: left;
    border-radius: 120px;
	text-align:center;
	vertical-align: top;
	
    width: 3em
    /*margin-left: 30%;*/
    /*margin-top: 30%;*/
}

.bubbleLink{
	position: relative;
	top: 40%;
	color: white !important;
	max-width: 6px;
	word-wrap: break-word;
	word-break: break-all;
}

/*#kobora{
	background-color: transparent; 
  	color: black;
}
*/
/*
#linkliste{
    width: 200px;
    border: 1px solid #ff0080;
    float: left;
    overflow-y: auto;
}

.linkinLinklist{
   margin-right: 10px; 
   color: white;
}
*/

